@import './reset.css';
@import './theme-retro.scss';
@import './theme-default.scss';
@import './animations.scss';

:root {
  --header-height: 50px;
  --footer-height: 50px;
}

@font-face {
  font-family: Inter-Regular;
  src: url(./fonts/Inter-VariableFont_opsz,wght.ttf);
  font-display: swap;
}

@font-face {
  font-family: Inter-Italic;
  src: url(./fonts/Inter-Italic-VariableFont_opsz,wght.ttf);
  font-display: swap;
}
