.theme-retro {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: #f31b95;

  background-color: white;

  .gallery-searchbar {
    &__label {
      --color: var(--primary-color);
    }

    &__submit {
      opacity: 1;
    }
  }

  .gallery-description {
    --color: var(--primary-color);
  }

  .gallery-tile-loading {
    --color: var(--primary-color);
  }

  .gallery-tile-error {
    --color: var(--primary-color);
  }

  .gallery-tile {
    --background-color: var(--primary-color);

    &__title {
      --background-color: yellow;
      --color: var(--primary-color);
    }
  }
  .gallery-load-more {
    --background-color: var(--secondary-color);
  }

  .rm-header {
    --background-color: var(--tertiary-color);
    --color: var(--secondary-color);
  }

  .gallery-footer {
    --background-color: var(--tertiary-color);

    a {
      color: var(--primary-color);
    }
  }
}
